body, html {
  font-size: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  background-color: #303030;
  color: #FFFFFF;
}

#header img {
  max-height: 7rem;
}

#header #tagline {
  font-size: 1.93rem;
  padding-left: 0.4em;
  margin-top: -0.5em;
}

#content {
  margin: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

img[src*="000webhost"],
img[alt*="000webhost"],
a[title*="000webhost"],
a[href*="000webhost"] {
  display: none
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
  color: #C6272F;
}

ul, li {
  list-style: none;
}