  body, html {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #111111;
    color: #ececec;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }

  img[src*="000webhost"],
  img[alt*="000webhost"],
  a[title*="000webhost"],
  a[href*="000webhost"] {
    display: none
  }

  a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #267a1a;
  }