# Enable Rewrite Engine
RewriteEngine On

# redirect /api/User/1 to /api/User/index.php?userID=1
RewriteRule ^User([0-9]+)$ User/index.php?userID=$1
RewriteRule ^User/([0-9]+)$ User/index.php?userID=$1

# redirect /api/User/ByUsername/brianjmorris to /api/User/index.php?username=brianjmorris
RewriteRule ^User/ByUsername([a-zA-Z0-9]+)$ User/index.php?username=$1
RewriteRule ^User/ByUsername/([a-zA-Z0-9]+)$ User/index.php?username=$1

# redirect /api/User/Login to /api/Login
RewriteRule ^User/Login User/index.php?login=true
RewriteRule ^User/Login/ User/index.php?login=true
