/*
 * Description: SwiftBook Theme [Dark]
 * Colours: #000000, #ffffff, #5e5e5e, #c6272f
 * Date: 2019-02-07
*/

.root {
    /* -fx-background-color: rgb(48, 48, 48); */
    /* Below is the same colour in hex */
    -fx-background-color: #303030;
    -fx-focus-color: #c6272f;
}

.form {
    -fx-font-size: 24;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-width: 100;
}

.customButton {
    -fx-border-width: 0;
    -fx-border-color: #c6272f;
    -fx-background-color: #c6272f;
    -fx-text-fill: #ffffff;
}

.customButton:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #c6272f;
}

.dashButton {
    -fx-border-width: 0;
    -fx-border-color: #c6272f;
    -fx-background-color: #c6272f;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18pt;
}

.dashButton:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #c6272f;
}

.dashTitle {
    -fx-fill: #ffffff;
    -fx-font-size: 30pt;
    -fx-font-family: 'Raleway' sans-serif;
}

.logOutButton {
    -fx-border-width: 0;
    -fx-border-color: #303030;
    -fx-background-color: #303030;
    -fx-text-fill: #c6272f;
    -fx-font-size: 18pt;
}

.logOutButton:hover {
    -fx-background-color: #303030;
    -fx-text-fill: #ffffff;
}


.register {
    -fx-font-size: 22;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-border-width: 0;
    -fx-text-fill: #c6272f;
    -fx-background-color: transparent;
}

.register:hover {
    -fx-text-fill: #ffffff;
}

.toggleButton {
    -fx-font-size: 20;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-border-width: 0;
    -fx-text-fill: #c6272f;
    -fx-background-color: transparent;
}

.staticText {
    -fx-font-size: 70;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-border-width: 0;
    -fx-fill: #c6272f;
}

.promptText {
    -fx-font-size: 24;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-fill: #ffffff;
}

.vbox {
    /*-fx-background-color: #2f4f4f; */
    -fx-spacing: 20;
}
