/*
 * Description: SwiftBook Theme [Dark]
 * Colours: black, white, #5e5e5e, #c6272f
 * Date: 2019-02-07
*/

.root {
    -fx-background-color: rgb(48, 48, 48);
    -fx-focus-color: #c6272f;
}

.form {
    -fx-font-size: 24;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-width: 100;
}

.customButton {
    -fx-border-width: 0;
    -fx-border-color: #c6272f;
    -fx-background-color: #c6272f;
    -fx-text-fill: white;
}

.customButton:hover {
    -fx-background-color: white;
    -fx-text-fill: #c6272f;
}

.register {
    -fx-font-size: 22;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-border-width: 0;
    -fx-text-fill: #c6272f;
    -fx-background-color: transparent;
}

.register:hover {
    -fx-text-fill: white;
}

.toggleButton {
    -fx-font-size: 20;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-border-width: 0;
    -fx-text-fill: #c6272f;
    -fx-background-color: transparent;
}

.staticText {
    -fx-font-size: 70;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-border-width: 0;
    -fx-fill: #c6272f;
}

.promptText {
    -fx-font-size: 24;
    -fx-font-family: 'Raleway' sans-serif;
    -fx-fill: white;
}